body,head{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0px;
    text-decoration: none;
    padding-top: 0px;
}


.barraSuperior {
    background-color: #000010;
    margin-top: 0px;
    height: 60px;
}

.barraSuperior center{
    padding-left:calc(50% - 325px);
    padding-right: calc(50% - 395px);
}


center{
    align-items: center;
    padding-top: 8px;
    width: max-content;
    display: inline-block;
}

.nomeInicio{
    font-size: 40px;
    color:#ffffff;
    letter-spacing: 2px;
    cursor:pointer;
    display: inline-block;
    align-self: center;
}
#menu{
    height: 0px;
}
.navbar{
    display: inline-block;
    cursor:pointer;
}
#opcoes{
    background-color: #000010;
    width: 225px;
    height: 400px;
    position: relative;
    left: calc(100% - 225px);
    top:calc(-566.53px);
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    transform: translateX(0%);
}
#opcoes li{
    padding-top: 74px;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
}
.fundo{
    height: 1250px;
    background-image: linear-gradient(#303030,rgb(22, 172, 164));
    margin-top: 0px;
    position: relative;
}

.linhaFoto{
    height:max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    
}

.divFoto{
    padding-left: 20px;
    padding-top: 30px;
    margin-inline-end: 100px;
    margin-top: 0px;
    width: 505px;
}

.minhaFoto{
    border-left-width: 7px;
    border:6px; 
    border-color: #303030;
    border-style: solid;
}

.boxInformacoes{
    height: max-content;
    text-align:unset;
    width: 370px;
    color:#ffffff;
    font-size: 20px;
    letter-spacing: 1px;
}
.linguagens{
    margin-left: calc(10%);
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 36px;
}
.listFrameworks{
    width: max-content;
    margin-left: calc(50% - (848px /2));
    margin-right: calc(50% - (848px /2));
}
.caixa h2,p{
    display: inline;
}
.caixa{
    display: inline-flex;
}
.texto{
    width: 300px;
    height: auto;
    color: #fff;
}
.imgLing{
    max-width: 100%;
    height: auto;
}
.esquerda,direita{
    position: relative;
    display: inline-block;
}