body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0px;
    text-decoration: none;
    padding-top: 0px;
}


.barraSuperior {
    background-color: #000010;
    margin-top: 0px;
    height: 60px;
}

.barraSuperior center{
    padding-left:calc(50% - 325px);
    padding-right: calc(50% - 395px);
}


center{
    align-items: center;
    padding-top: 8px;
    width: max-content;
    display: inline-block;
}

.nomeInicio{
    font-size: 40px;
    color:#ffffff;
    letter-spacing: 2px;
    cursor:pointer;
    display: inline-block;
    align-self: center;
}

.navbar{
    position: static;
    display: inline-block;
    cursor:pointer;
}

.fundo{
    height: 700px;
    background-image: linear-gradient(#303030,rgb(22, 172, 164));
    margin-top: 0px;
    position: relative;
}

.linhaFoto{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.divFoto{
    padding-left: 20px;
    padding-top: 30px;
    margin-inline-end: 100px;
    margin-top: 0px;
    width: 505px;
}

.minhaFoto{
    border:6px;
    border-color: #303030;
    border-style: solid;
}

.boxInformacoes{
    height: max-content;
    text-align:unset;
    width: 370px;
    color:#ffffff;
    font-size: 18px;
}
